body {
	background-color: #a8a8a8
}

.container {
	width: 45.6%;
	height: 530px;
	background-color: white;
	border-radius: 10px;
}

#bannerImage {
	position: absolute;
	width: 45%;
	height: 39%;
}

#bannerImage img {
	width:100%;
	height: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#innerLogo {
	position: absolute;
  top: 34%;
  left: 4%;
  height: auto;
  width: auto;
  font-family: "Futura";
  font-size: 37px;
  color: #f2f6fc;
  background-color: #93b7c7;
  border: 5px solid #ffffff;
  border-radius: 5px;
}

#outerLogo {
  height: auto;
  width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 23px;
  padding-right: 23px;
}

#follow {
	position: absolute;
	top: 42%;
	right: 57%;
	font-size: 17px;
	font-weight: lighter;
	color: #1b9afa;
	background: rgba(255, 255, 255, .1);
	border: 2px solid #1b9afa;
	border-radius: 8px;
	padding-right: 23px;
	padding-left: 23px;
} 

#follow:hover {
  background: #bcd1f2;
}

table {
	position: absolute;
  top: 48%;
  left: 4%;
  max-width: 40%;
}

#companyTitle {
	font-family: "Arial";
	font-size: 24px;
	padding-top: 13px;
}

.sloganAndTags {
	font-family: "Arial";
	font-weight: 100;
  font-size: 20px;
  padding-top: 15px;
}

.citySiteJoin {
	padding-top: 15px;
}

.bull {
  font-size: 11px;
}