body {
	background-color: #a8a8a8
}

.container {
	width: 42%;
	height: 467px;
	background-color: white;
	border-radius: 10px;
}

#bannerImage {
	position: relative;
	width: 100%;
	height: 50%;
}

#bannerImage img {
	width:100%;
	height: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#innerLogo {
	position: absolute;
  top: 28%;
  left: 4%;
  height: auto;
  width: auto;
  font-family: "Futura";
  font-size: 37px;
  color: #f2f6fc;
  background-color: #93b7c7;
  border: 5px solid #ffffff;
  border-radius: 5px;
}

#outerLogo {
  height: auto;
  width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 23px;
  padding-right: 23px;
}

#follow {
	position: absolute;
	top: 36%;
	left: 32%;
	font-size: 17px;
	font-weight: lighter;
	color: #1b9afa;
	background: rgba(255, 255, 255, .1);
	border: 2px solid #1b9afa;
	border-radius: 8px; 
	padding-right: 23px;
	padding-left: 23px;
	outline: none;
} 

#follow:hover {
  background: #bcd1f2;
}

#followed {
	position: absolute;
	top: 36%;
	left: 32%;
	font-size: 17px;
	font-weight: lighter;
	color: #ffffff ;
	background: rgba(52, 219, 55, .7);
	border: 2px solid #1b9afa;
	border-radius: 8px; 
	padding-right: 13px;
	padding-left: 13px;
	outline: none;
}

table {
	position: absolute;
  top: 44%;
  left: 4%;
  max-width: 33%;
}

#companyTitle {
	font-family: "Arial";
	font-size: 24px;
	padding-top: 13px;
}

.sloganAndTags {
	font-size: 17px;
  padding-top: 15px;
}

.citySiteJoin {
	padding-top: 15px;
}

.bull {
  font-size: 11px;
}