body {
	background-color: #e3eaf4
}

#bannerImage {
	width: 50%;
	height: 45%;
	position: absolute;
	z-index: -1;
}

#bannerImage img {
	width:100%;
	height: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#logo {
  top: 40%;
  left: 4%;
  font-size: 40px;
  color: #f2f6fc;
  background-color: #a4bbd8;
  border: 5px solid #f2f6fc;
  border-radius: 10px;
  padding: 20px; 
  position: absolute;
}

#follow {
	position: absolute;
	top: 50%;
	right: 52%;
	font-size: 25px;
	font-weight: lighter;
	color: #4d94ff;
	background: rgba(255, 255, 255, .1);
	border: 2px solid #4d94ff;
	border-radius: 8px;
}